body {
  font-family: "Varela Round", serif; }

h1 {
  font-family: "Pacifico", cursive; }

h2,
h3 {
  font-family: "Roboto", sans-serif; }

.navbar {
  background-color: white;
  margin-bottom: 0px;
  margin-top: -20px; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.site-footer {
  background-color: white;
  padding: 20px 0; }

blockquote {
  background-color: white; }

.card {
  border: none; }

.jumbotron {
  height: 300px; }
